# =========================
# Environment / Secrets
# =========================

.env
*.env


# =========================
# Python
# =========================

venv/
__pycache__/
*.py[cod]
*.pyo


# =========================
# Node
# =========================

node_modules/
frontend/dist/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db